@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body{
    font-family: "Montserrat";
    margin: 0;
    font-weight: 300;
    overflow-x: hidden !important;
}

/* Lines */

.line-group1{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 7vw;
    color: rgb(160, 160, 160);
    top: 10vw;
    font-size: .5em;
    z-index: 1;
}

.line1{
    height: 307px;
    border-right: .5px solid rgb(160, 160, 160);
}

.line-text{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin: 1vw 0;
    padding: 0 50%;
}

.line2{
    height: 154px;
    border-right: .5px solid rgb(160, 160, 160);
}

.scroll{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin: 1vw 0;
    align-self: flex-end;
}

.line-horizontal{
    width: 1vw;
    border-top: .5px solid rgb(160, 160, 160);
    transform: translateX(.5vw);
    align-self: flex-end;
}

.line3{
    height: 385px;
    border-right: .5px solid rgb(160, 160, 160);
}

.line4{
    margin-top: 307px;
    height: 307px;
    border-right: .5px solid rgb(160, 160, 160);
}

.big-circle{
    width: 84vw;
    height: 84vw;
    border-radius: 50%;
    border: .5px solid rgb(160, 160, 160);
    position: absolute;
    top: -70px;
    left: -190px;
}

.ux-line{
    border-top: .5px solid rgb(160, 160, 160);
    width: 215px;
    position: absolute;
    top: 250px;
    left: 77px;
}

.line-group2{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 7vw;
    color: rgb(160, 160, 160);
    top: -30px;
    font-size: .5em;
}

.line-horizontal2{
    align-self: flex-end;
    width: 2vw;
    border-top: .5px solid rgb(160, 160, 160);
    transform: translateX(1vw);
}

.line5{
    height: 615px;
    border-right: .5px solid rgb(160, 160, 160);
}

.line6{
    width: 461px;
    height: 123px;
    border-left: .5px solid rgb(160, 160, 160);
    border-top: .5px solid rgb(160, 160, 160);
    align-self: flex-end;
}

.small-circle{
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    border: .5px solid rgb(160, 160, 160);
    position: absolute;
    top: 100px;
    right: -4vw;
}

/* Header */

.section1{
    background-image: url(images/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3vw 5vw;
    position: relative;
}

.title{
    font-size: 11em;
    font-weight: 600;
    mix-blend-mode: overlay;
    filter: invert(-100%);
    line-height: .7em;
    margin: 20vw 0 5vw 0;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.logo{
    fill: lightgray;
    height: 4vw;
}

.logo2{
    fill: lightgray;
    width: 7vw;
    margin-bottom: 0;
}

.gradient{
    margin: -3vw -5vw;
    height: 100px;
    background: linear-gradient(rgba(5,5,50,0) 0%, rgba(5,5,50,0.8) 50%, rgba(5,5,50,1) 100%);
}

/* Section 2 */

.section2{
    background-color: rgb(5, 5, 50);
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
}

.section2-header {
    font-size: 6em;
    font-weight: 600;
    color: white;
    transform: translateY(-50px);
    align-self: center;
}

.section2-content{
    padding-left: 20vw;
    line-height: 1.8em;
    padding-bottom: 5vw;
}

.section2-content>.container{
    width: 100%;
    display: flex;
    justify-content: right;
}

.section2-content .text{
    width: 30vw;
    text-align: justify;
    font-size: 1.2em;
}

.experience{
    display: flex;
    align-items: center;
    font-size: 2em;
}

.section2 .experience{
    transform: translateX(-5vw);
}

.experience p{
    transform: translateX(-2vw);
    font-weight: 200;
}

.experience strong{
    font-weight: 900;
}

.circle{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-image: url(images/1-waves.jpg);
    background-repeat: no-repeat;
    background-size: 300%;
}

.ux{
    background-image: url(images/1-waves.jpg);
    font-size: 35em;
    line-height: .8em;
    font-weight: 900;
    -webkit-background-clip: text;
    color: transparent;
    transform: translateX(5vw);
    background-size: 100%;
    background-position: bottom;
}

/* Section 3 */
.section3{
    background-color: rgb(210,210,210);
    color: #222;
    display: flex;
    flex-direction: column;
    padding: 5vw;
}

.section3>.row{
    display: flex;
}

.section3-left{
    display: flex;
    flex-direction: column;
}

.section3-header {
    font-size: 6em;
    font-weight: 600;
    color: white;
    align-self: flex-end;
    margin-bottom: 5vw;
}

.section3 .circle{
    width: 65px;
    height: 65px;
    background-image: url(images/code.png);
}

.section3 .text{
    width: 80%;
    margin-bottom: 8vw;
    font-size: 1.3em;
}

.section3-right{
    display: flex;
    flex-direction: column;
}

.section3-right>.section3-header{
    align-self: flex-end;
}

.design{
    display: flex;
    align-items: center;
    background-image: url(images/code.png);
    -webkit-background-clip: text;
    color: transparent;
    background-size: 100%;
    background-position: bottom;
}

.design-text{
    text-align: center;
    line-height: .8;
    font-weight: 900;
}

.icons>*{
    padding: 0 2vw;
}

.icons2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    border-top: 1px solid gray;
    margin-top: 1vw;
    padding-top: 1vw;
}

.icon{
    height: 4vw;
    margin-right: 1vw;
    -webkit-filter: grayscale(1);
}

.icon-jquery{
    height: 3vw;
    -webkit-filter: grayscale(1);
}

.design>h1{
    margin: 0;
    font-size: 3em;
}

/* Section 4 */
.section4{
    background-image: url(images/papers.co-ml08-mountain-blur-blue-minimal-nature-imac-27.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    position: relative;
}

.gradient2{
    height: 300px;
    background: linear-gradient(rgba(210,210,210,1), rgba(210,210,210,0));
}

.section4-content{
    display: flex;
    flex-direction: column;
    padding: 5vw;
    padding-bottom: 200px;
    transform: translateY(-20vw);
    margin-bottom: -15vw;
}

.section4-header {
    font-size: 6em;
    font-weight: 600;
    color: white;
    margin-bottom: 10vw;
}

.section4-text{
    align-self: flex-end;
    color: lightgray;
    font-size: 1.3em;
}

.section4-text1{
    font-size: 1.7em;
    margin-bottom: 1vw;
}

.section4-text1>strong{
    font-weight: 600;
    color: white;
}

.section4-text1>*{
    margin-right: 1vw;
}

/* Footer */
footer{
    position: relative;
    overflow: hidden;
}

.transparent {
    -webkit-text-stroke: 1px rgb(100, 100, 100);
    color: transparent;
}

.how{
    -webkit-text-stroke: 1px white;
}

footer .transparent, .section2 .transparent {
    -webkit-text-stroke: 1px rgb(160, 160, 160);
}

.footer1{
    color: rgb(180, 180, 180);
    background-color: rgb(197, 43, 69);
    display: flex;
    padding: 4vw 5vw;
    flex-wrap: wrap;
}

.footer1-container{
    display: flex;
    flex-wrap: wrap;
}

.footer1-subscribe-text {
    font-size: 6em;
    font-weight: 600;
    color: white;
}

.footer1-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.email-form {
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
}

.email-form label{
    color: white;
    font-size: 1.2em;
}

.email{
    background: linear-gradient(rgb(180, 180, 180), rgb(180, 180, 180)), linear-gradient(rgb(180, 180, 180), rgb(180, 180, 180)), linear-gradient(rgb(180, 180, 180), rgb(180, 180, 180));
    background-size: 1px 50%, 100% 1px, 1px 50%;
    background-position: bottom left, bottom center, bottom right;
    background-repeat: no-repeat;
    border: none;
    width: 20vw;
}

.submit{
    background-color: rgb(5, 5, 50);
    font-weight: 800;
    width: 100%;
    padding: .3vw 0;
    margin-top: 1vw;
    border: none;
    font-size: 1.2em;
    -webkit-text-stroke: .5px white;
    color: transparent;
}

.footer1-touch-text{
    font-size: 2em;
    margin-top: 6vh;
    transform: translateX(-1em);
}

.footer1-touch-text strong{
    color: white;
    font-weight: 800;
}

.footer2{
    background-color: rgb(5, 5, 50);
    display: flex;
    padding: 2vw 5vw;
    color: white;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer2>*{
    margin-bottom: 3vw;
}

.footer2-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer2-logo-text{
    font-size: 2em;
}

.footer2-info{
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    justify-content: space-between;
    margin-left: 4vw;
}

.info-strong{
    font-weight: 600;
    transform: translateX(1vw);
}

.footer2-phone{
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    align-items: flex-end;
    justify-content: space-between;
    flex-grow: 2;
}

.phone-icon{
    width: 2.8vw;
    fill: rgb(197, 43, 69);
    margin-right: 3vw;
}

.white{
    color: white;
}

.info-light{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

@media screen and (max-width: 1450px){
    .footer1-touch-text{
        transform: none;
        margin-left: 2vw;
        margin-top: 0;
    }
    
    .small-circle{
        top: 300px;
    }
    
    .big-circle{
        width: 88vw;
        height: 88vw;
        top: -80px;
        left: -200px;
    }
    
    .ux-line{
        width: 180px;
        left: 60px;
    }
}

@media screen and (max-width: 1250px){
    .section2-content>.container{
        flex-direction: column;
    }
    
    .section2-content .text{
        width: 50vw;
    }
    
    .ux{
        align-self: flex-end;
        transform: translateX(8vw);
    }
    
    .email{
        width: 25vw;
    }
    
    .big-circle{
        width: 94vw;
        height: 94vw;
        left: -180px;
    }
    
    .ux-line{
        width: 150px;
        left: 50px;
    }
    
    .line2{
        height: 200px;
    }
    
    .line3{
        height: 520px;
    }
    
    .line4{
        margin-top: 330px;
    }
}

@media screen and (max-width: 1150px){
    .title{
        font-size: 8em;
    }
    
    .section2-header, .section3-header, .section4-header{
        font-size: 5em;
    }
    
    .section3>.row{
        flex-direction: column;
    }
    
    .section3-header{
        align-self: flex-start;
    }
    
    .section3 .experience{
        margin-top: 10vw;
    }
    
    .phone-icon{
        width: 3.2vw;
    }
    
    .email{
        width: 30vw;
    }
    
    .big-circle{
        width: 105vw;
        height: 105vw;
    }
    
    .ux-line{
        top: 210px;
    }
    
    .line2{
        height: 150px;
    }
    
    .line3{
        height: 450px;
    }
}

@media screen and (max-width: 1050px){
    
    .big-circle{
        width: 115vw;
        height: 115vw;
        left: -210px;
    }
    
    .ux-line{
        width: 130px;
        left: 40px;
    }
}

@media screen and (max-width: 1035px){
    .line4{
        margin-top: 360px;
    }
}

@media screen and (max-width: 950px){
    .section2-header, .section3-header, .section4-header{
        font-size: 4em;
    }
    
    .section2-content .text, .section3 .text{
        font-size: 1em;
    }
    
    .phone-icon{
        width: 4vw;
    }
    
    .email{
        width: 40vw;
    }
    
    .line5{
        height: 530px;
    }
    
    .ux-line{
        top: 170px;
    }
    
    .line3{
        height: 400px;
    }
    
    .line4{
        margin-top: 300px;
    }
}

@media screen and (max-width: 915px){
    .footer2-phone{
        flex-grow: 0;
        align-items: flex-start;
    } 
    
    .phone-icon{
        margin-right: 0;
    }
    
    .small-circle{
        width: 50vw;
        height: 50vw;
        top: 250px;
    }
    
    .line4{
        margin-top: 320px;
    }
}

@media screen and (max-width: 850px){
    .title{
        font-size: 6em;
    }
    
    .logo, .icon{
        height: 6vw;
    }
    
    .icon-jquery{
        height: 4.5vw;
    }
    
    .ux{
        font-size: 30em;
    }
    
    .logo2{
        width: 10vw;
    }
    
    .footer1-subscribe-text{
        font-size: 5em;
    }
    
    .small-circle{
        width: 55vw;
        height: 55vw;
        top: 220px;
    }
    
    .ux-line{
        width: 100px;
    }
    
    .line4{
        margin-top: 250px;
    }
    
    .line-group1, .line-group2{
        right: 8vw;
    }
    
    .line-group1{
        top: 12vw;
    }
    
    .line1{
        height: 280px;
    }
}

@media screen and (max-width: 750px){
    .section2-content{
        padding-left: 10vw;
    }
    
    .section2-content .text{
        width: 70vw;
    }
    
    .section2-header, .section4-header{
        font-size: 3em;
    }
    
    .section4-header{
        transform: translateY(-15vw);
    }
    
    .section4-text{
        font-size: 1em;
    }
    
    .footer1-subscribe-text{
        font-size: 4em;
    }
    
    .email{
        width: 50vw;
    }
    
    .footer1-touch-text{
        font-size: 1.5em;
    }
    
    .small-circle{
        top: 280px;
        left: -5vw;
    }
    
    .line5{
        height: 450px;
    }
    
    .line6{
        width: 350px;
    }
    
    .ux-line{
        display: none;
    }
    
    .line1{
        height: 200px;
    }
    
    .line2{
        height: 120px;
    }
    
    .line3{
        height: 360px;
    }
}

@media screen and (max-width: 730px){
    .line4{
        margin-top: 280px;
    }
}

@media screen and (max-width: 654px){
    .line4{
        margin-top: 300px;
    }
}

@media screen and (max-width: 650px){
    .title{
        font-size: 4.5em;
    }
    
    .logo{
        height: 8vw;
    }
    
    .ux{
        font-size: 25em;
    }
    
    .experience{
        font-size: 1.5em;
    }
    
    .logo2{
        width: 13vw;
    }
    
    .phone-icon{
        width: 5vw;
    }
    
    .big-circle{
        left: -150px;
    }
    
    .line-group1, .line-group2{
        right: 9vw;
    }
    
    .line-group1{
        top: 14vw;
    }
    
    .line1{
        height: 150px;
    }
    
    .line4{
        margin-top: 250px;
    }
}

@media screen and (max-width: 560px){
    .footer1-subscribe-text{
        font-size: 3em;
    }
    
    .footer1-touch-text{
        font-size: 1em;
    }
    
    .small-circle{
        top: 230px;
    }
}

@media screen and (max-width: 550px){
    .ux{
        font-size: 20em;
    }
    
    .section2-header{
        font-size: 2.5em;
    }
    
    .section2-content .text, .section3 .text{
        font-size: .8em;
    }
    
    .logo2{
        width: 18vw;
    }
    
    .line3{
        height: 300px;
    }
    
    .line4{
        margin-top: 180px;
    }
}

@media screen and (max-width: 535px){
    
    .small-circle{
        top: 380px;
    }
    
    .big-circle{
        left: -100px;
    }
}

@media screen and (max-width: 504px){
    
    .line5{
        height: 500px;
    }
}

.nav2 {
    width: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    transition: 0.5s;
    height: 100vh;
    z-index: 1;
}

.nav2>ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.nav2>ul>li{
    font-size: 2em;
    font-weight: 500;
    cursor: pointer;
}

.outspread{
    visibility: visible;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .95);
    color: white;
}

.menu{
    cursor: pointer;
    z-index: 2;
    text-decoration: none;
    color: white;
}

.locked{
    overflow-y: hidden;
}

html{
    scroll-behavior: smooth;
}